---
import { getProjects } from '../../utils/projects'
import ProjectItem from './ProjectItem.astro';
const projects = getProjects();
---

<div class="flex flex-col gap-y-2">
  {projects.map((project) => (
    <ProjectItem name={project.name} url={project.url} date={project.date} description={project.description} tags={project.keywords} />
  ))}
</div>
