---
import { Icon } from 'astro-icon/components';
import Tag from '../ui/Tag.astro';
export interface Props {
  name: string
  url: string
  date: string
  description: string
  tags: string[]
}
const { name, url, date, description, tags } = Astro.props
---

<div class="flex flex-row justify-between items-center">
  <h4 class="text-md font-semibold text-left inline">
    {url
      ? <a href={url} rel="noopener noreferrer" target="_blank" class="hover:underline">{name}</a>
      : {name}
    }
  </h4>
  <span class="font-medium text-sm text-right">{date}</span>
</div>
<p class="text-sm px-1 pb-0 5">{description}</p>
<div class="flex flex-row flex-wrap justify-start items-center gap-1">
  {tags.map((tag) => <Tag tagPhrase={tag} />)}
</div>
