---
import { getEducation } from "../../utils/education";

const education = getEducation();
---

{
  education.map((school) => (
    <div class="px-2 py-1">
      <div class="flex flex-row items-center justify-between">
        <h4 class="text-md text-left font-semibold">{school.institution}</h4>
        <span class="text-right text-sm font-medium">{school.date}</span>
      </div>
      <div class="px-1">
        <p class="text-sm italic">{school.studyType}</p>
        <p class="text-sm">{school.area}</p>
        {school.note ? <p class="text-xs font-light">{school.note}</p> : null}
      </div>
    </div>
  ))
}
