---
import Link from "./Link.astro";
import {
  getEmail,
  getPhone,
  getLocation,
  getProfiles,
  getUrl,
} from "../../utils/basics";
const { emailDisplay, emailUrl, emailIcon } = getEmail();
const { phoneDisplay, phoneIcon } = getPhone();
const { locationDisplay, locationIcon } = getLocation();
const profiles = getProfiles();
const { urlDisplay, urlUrl, urlIcon } = getUrl();
---

<div
  class="flex flex-row flex-wrap items-end justify-center gap-x-4 px-2 text-sm print:items-center print:justify-between small:flex-col small:justify-between small:gap-0 print:small:flex-row medium:flex-row medium:items-center medium:justify-around"
>
  <Link display={emailDisplay} url={emailUrl} icon={emailIcon} />
  {phoneDisplay ? <Link display={phoneDisplay} icon={phoneIcon} /> : null}
  <Link display={urlDisplay} url={urlUrl} icon={urlIcon} />
  <Link display={locationDisplay} icon={locationIcon} />
  {
    profiles.map((profile) => (
      <Link
        display={profile.profileDisplay}
        url={profile.profileUrl}
        icon={profile.profileIcon}
      />
    ))
  }
</div>
