---
import { getWork } from "../../utils/work";
import { Icon } from "astro-icon/components";
const jobs = getWork();
---

{
  jobs.map((job) => (
    <div class="px-2 py-1">
      <div class="flex flex-row items-center justify-between">
        <h4 class="text-md text-left font-semibold">{job.position}</h4>
        <span class="text-right text-sm font-medium">{job.date}</span>
      </div>
      <p class="text-sm italic">{job.name}</p>
      <p class="px-1 pb-2 pt-1 text-sm">{job.summary}</p>
      <ul>
        {job.highlights.map((highlight) => (
          <li class="mb-1 ml-2 flex flex-row items-center justify-start">
            <Icon name="mdi:star-check" class="mr-2 text-emerald-600" />
            <p class="my-auto text-sm font-medium">{highlight}</p>
          </li>
        ))}
      </ul>
    </div>
  ))
}
